body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #666666;
  background-color: #F6F8F7;
}


.material-icons-outlined {
  vertical-align: middle;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  height: 100vh;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
}

/************************* HEADER ********************/

.header {
  grid-area: header;
  height: 70px;
  color: #ffffff;
  background-color: #FCFCFC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-left {
  color: #666666;
}

.header-right {
  display: flex;
  column-gap: 12px;
}

.header-icon {
  color: #666666;
  cursor: pointer;
}

/**************** SIDEBAR ****************/
.sidebar {
  height: 100%;
  grid-area: sidebar;
  background-color: #21232d;
  color: #9799ab;
  box-shadow: 2px 0px 2px rgb(210, 210, 210);
  overflow-y: auto;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.sidebar-brand {
  font-weight: bold;
  font-size: 28px;
  color: #89BE4C;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.sidebar-list-item:hover {
  background-color: #ffffff53;
}

.divider {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}


/************* MAIN ****************/
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 36px;
}


/********* ACTIONS ***********/
.task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.task-card {
  background-color: #ffffff;
  display: flex;
  column-gap: 18px;
  align-items: stretch;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #ebebeb;
  box-shadow: 0 6px 7px -4px rgba(168, 168, 168, 0.2);
}

.task-card-left {
  width: 50%;
}

.task-card-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.task-card-right p:last-child {
  margin: 0;
}

.task-card-form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.task-form-button-container {
  display: flex;
  justify-content: space-between;
}

.task-card-form select {
  padding: 8px;
  border-radius: 2px;
  -webkit-appearance: none;
  font-family: 'Montserrat';
  border: 2px solid rgb(216, 216, 216);
}

.task-card-form-time-input {
  padding: 8px;
  border-radius: 2px;
  font-family: 'Montserrat';
  border: 2px solid rgb(216, 216, 216);
}

.task-badge {
  padding: 12px;
}

.task-badge-waiting {
  background-color: #F3F4F6;
}

.task-badge-running {
  background-color: #FEF3C7;
}

.task-badge-succes {
  background-color: #D1FAE5;
}

.task-badge-error {
  background-color: #FEE2E2;
}

/********* BUTTON ***************/
.button {
  padding: 12px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border: none;
  transition-duration: 200ms;
}

.button:hover {
  box-shadow: 1px 1px 4px rgba(81, 81, 81, 0.064);
}

.button-update {
  background-color: #9ef7c9;
  border-radius: 2px;
}

.button-disable {
  background-color: #faeaa9;
  border-radius: 2px;
}

.button-delete {
  background-color: #f8b0b0;
  border-radius: 2px;
}

.button-primary {
  background-color: #89BE4C;
  color: white;
  border-radius: 2px;
}

/*********** DATAS ****************/
.datas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.data-card {
  background-color: #ffffff;
  display: flex;
  column-gap: 18px;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #ebebeb;
  box-shadow: 0 6px 7px -4px rgba(168, 168, 168, 0.2);
}

.data-card-left {
  background-color: rgb(215, 255, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.data-card-right {
  text-align: left;
  margin: 0;
}

.data-card-right>p:first-child {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

/*********** PHOTOS **************/
.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.photo-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #ebebeb;
  box-shadow: 0 6px 7px -4px rgba(168, 168, 168, 0.2);
}


/************ CHART ***************/
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #ebebeb;
  box-shadow: 0 6px 7px -4px rgba(168, 168, 168, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

/************** MODAL ***************/
.add-task-modal {
  min-width: 500px;
  padding: 24px;
  position: absolute;
  left: 50%;
  background: #ffffff;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #ebebeb;
  box-shadow: 0px 0px 100px -4px rgba(53, 53, 53, 0.2);
}


.add-task-modal form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}